{
  "openapi": "3.1.0",
  "info": {
    "title": "APIAny.AI Öffentliche API",
    "version": "1.0.0",
    "description": "Öffentliche API von APIAny.AI für Modellaggregation, asynchrone Medienaufgaben, Chat-Generierung, Guthabenabfrage und Aufgabenabfrage."
  },
  "servers": [
    {
      "url": "https://apiany.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Models",
      "description": "Öffentlicher Modellkatalog."
    },
    {
      "name": "Chat",
      "description": "Endpunkte für Textgenerierung und chatkompatible Funktionen."
    },
    {
      "name": "Images",
      "description": "Endpunkte für Bildgenerierung und Bildbearbeitung."
    },
    {
      "name": "Videos",
      "description": "Endpunkte für Videogenerierung."
    },
    {
      "name": "Moderation",
      "description": "Image safety and moderation endpoints."
    },
    {
      "name": "Tasks",
      "description": "Abfrage asynchroner Aufgaben."
    },
    {
      "name": "Account",
      "description": "Konto- und Guthabenabfrage."
    },
    {
      "name": "Free APIs",
      "description": "Free utility APIs protected by API key rate limits."
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "Öffentliche Modelle auflisten",
        "description": "Gibt den für den aktuellen API-Key sichtbaren öffentlichen Modellkatalog von APIAny.AI zurück.",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "Modellliste.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/credits/balance": {
      "get": {
        "operationId": "getCreditBalance",
        "summary": "Guthabensaldo abfragen",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Guthabensaldo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Gibt das verfügbare Guthaben des zum aktuellen API-Key gehörenden Kontos zurück."
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Chat-Completion erstellen",
        "description": "OpenAI-kompatibler Chat-Completions-Endpunkt. Derzeit überwiegend für nicht-streamende Aufrufe vorgesehen.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "model": "gpt-5.4",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write a concise product tagline for APIAny.AI."
                      }
                    ],
                    "temperature": 0.7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI-kompatible Chat-Completion-Antwort.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Responses-Antwort erstellen",
        "description": "OpenAI-Responses-kompatibler Endpunkt. Unterstützt Responses-natives input, reasoning-Steuerung, integrierte Tools wie web search sowie das offizielle Responses-SSE bei stream=true.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              },
              "examples": {
                "reasoning": {
                  "value": {
                    "model": "gpt-5.5",
                    "input": "Überprüfe dieses API-Design und nenne die wichtigsten Risiken.",
                    "reasoning": {
                      "effort": "high",
                      "summary": "auto"
                    },
                    "text": {
                      "verbosity": "medium"
                    }
                  }
                },
                "webSearch": {
                  "value": {
                    "model": "gpt-5.5",
                    "input": "Was hat sich in der neuesten Dokumentation der OpenAI Responses API geändert?",
                    "tools": [
                      {
                        "type": "web_search_preview"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI-compatible Responses response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Bei stream=true wird ein Responses-SSE-Ereignisstrom zurückgegeben."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "createMessage",
        "summary": "Messages-Antwort erstellen",
        "description": "Anthropic-kompatibler Messages-Endpunkt.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "model": "minimax-m3",
                    "max_tokens": 512,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Draft three API documentation section titles."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Anthropic-kompatible Messages-Antwort.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessagesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "operationId": "generateGeminiContent",
        "summary": "Gemini-kompatible Inhalte generieren",
        "description": "Gemini-kompatibler generateContent-Endpunkt. Das model im Pfad ist die öffentliche Modell-ID von APIAny.AI.",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "gemini-3.5-flash"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gemini-kompatible Antwort.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiGenerateContentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "operationId": "createImageGeneration",
        "summary": "Bildgenerierungsaufgabe erstellen",
        "description": "Erstellt eine asynchrone Bildgenerierungsaufgabe und gibt eine task_id zurück.",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              },
              "examples": {
                "textToImage": {
                  "value": {
                    "model": "nano-banana",
                    "prompt": "A clean product hero image for an AI API gateway",
                    "size": "1k"
                  }
                },
                "gptImage2NativeSize": {
                  "value": {
                    "model": "gpt-image-2",
                    "prompt": "A cinematic landscape product launch visual",
                    "size": "2048x1152",
                    "quality": "high",
                    "n": 1
                  }
                },
                "withReferences": {
                  "value": {
                    "model": "nano-banana-pro",
                    "prompt": "Create a premium ecommerce hero image using these references",
                    "size": "2k",
                    "input_images": [
                      "https://example.com/reference-1.png",
                      "https://example.com/reference-2.png"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Aufgabe erstellt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/images/generations/sync": {
      "post": {
        "operationId": "createImageGenerationSync",
        "summary": "Bildgenerierung erstellen und auf Ergebnis warten",
        "description": "Erstellt eine Bildaufgabe und wartet bis zur konfigurierten maximalen Wartezeit auf den Abschluss der Aufgabe.",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI-kompatibles Bildgenerierungsergebnis.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageResponse"
                }
              }
            }
          },
          "202": {
            "description": "Aufgabe wird nach Erreichen der maximalen Wartezeit weiterhin verarbeitet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "operationId": "createImageEdit",
        "summary": "Bildbearbeitung erstellen",
        "description": "Bildbearbeitungsendpunkt im OpenAI-Stil für Modelle, die Referenzbilder unterstützen.",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI-kompatibles Bildergebnis.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/images/upload": {
      "post": {
        "operationId": "uploadImageAsset",
        "summary": "Bildmaterial hochladen",
        "description": "Lädt Bildmaterial hoch, das als Referenzeingabe für die Bild- oder Videogenerierung verwendet wird.",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL des hochgeladenen Materials.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "url"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/generations": {
      "post": {
        "operationId": "createVideoGeneration",
        "summary": "Videogenerierungsaufgabe erstellen",
        "description": "Erstellt eine asynchrone Videogenerierungsaufgabe und gibt eine task_id zurück.",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              },
              "examples": {
                "seedance": {
                  "value": {
                    "model": "seedance-2.0",
                    "prompt": "A cinematic launch shot for an AI API platform",
                    "duration": "10s",
                    "resolution": "720p",
                    "ratio": "16:9"
                  }
                },
                "withReferences": {
                  "value": {
                    "model": "veo3.1",
                    "prompt": "Animate a product scene between the start and end frames",
                    "input_images": [
                      "https://example.com/start.png",
                      "https://example.com/end.png"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Aufgabe erstellt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/videos/generations/sync": {
      "post": {
        "operationId": "createVideoGenerationSync",
        "summary": "Videogenerierung erstellen und auf Ergebnis warten",
        "description": "Erstellt eine Videoaufgabe und wartet bis zur konfigurierten maximalen Wartezeit auf den Abschluss der Aufgabe.",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Abgeschlossene Videoaufgabe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "202": {
            "description": "Aufgabe wird nach Erreichen der maximalen Wartezeit weiterhin verarbeitet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/tasks/{task_id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Aufgabendetails abfragen",
        "description": "Gibt den aktuellen Status und das Endergebnis einer asynchronen Bild-, Video- oder künftigen Audioaufgabe zurück.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "task_123"
          }
        ],
        "responses": {
          "200": {
            "description": "Aufgabendetails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Aufgabe nicht gefunden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/moderations": {
      "post": {
        "operationId": "createModeration",
        "summary": "Create image moderation result",
        "description": "Classifies an image with a public moderation model and returns a normalized safety result.",
        "tags": [
          "Moderation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModerationRequest"
              },
              "examples": {
                "imageUrl": {
                  "value": {
                    "model": "nsfw-image-detection",
                    "image_url": "https://example.com/image.png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moderation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/free/ip-geo": {
      "get": {
        "operationId": "lookupIpGeo",
        "summary": "Lookup IP geolocation",
        "description": "Returns country, region, and city for an IP address when GeoIP data is available.",
        "tags": [
          "Free APIs"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "8.8.8.8",
            "description": "IP address to look up. If omitted, the caller IP is used when proxy headers are available."
          }
        ],
        "responses": {
          "200": {
            "description": "IP geolocation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpGeoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Free API rate limit exceeded."
          }
        }
      }
    },
    "/api/free/batch-convert-images": {
      "post": {
        "operationId": "batchConvertImages",
        "summary": "Batch convert images",
        "description": "Convert multiple images to one selected format and receive successful outputs in a ZIP archive with a manifest. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "webp",
                      "png",
                      "jpeg",
                      "avif"
                    ],
                    "default": "webp"
                  },
                  "quality": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 82
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing successful image outputs and manifest.json with ordered per-file results.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-resize-images": {
      "post": {
        "operationId": "batchResizeImages",
        "summary": "Batch resize images",
        "description": "Apply one dimension, fit mode, output format, and quality setting to multiple images. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files",
                  "width"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "width": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 8192,
                    "default": 1200
                  },
                  "height": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 8192
                  },
                  "fit": {
                    "type": "string",
                    "enum": [
                      "cover",
                      "contain",
                      "fill",
                      "inside",
                      "outside"
                    ],
                    "default": "inside"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "webp",
                      "png",
                      "jpeg"
                    ],
                    "default": "webp"
                  },
                  "quality": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 82
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing successful image outputs and manifest.json with ordered per-file results.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-crop-images": {
      "post": {
        "operationId": "batchCropImages",
        "summary": "Batch crop images",
        "description": "Crop the same coordinate-based rectangle from multiple images with independent boundary validation. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files",
                  "left",
                  "top",
                  "width",
                  "height"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "left": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0
                  },
                  "top": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0
                  },
                  "width": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 8192,
                    "default": 500
                  },
                  "height": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 8192,
                    "default": 500
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "webp",
                      "png",
                      "jpeg"
                    ],
                    "default": "webp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing successful image outputs and manifest.json with ordered per-file results.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-rotate-images": {
      "post": {
        "operationId": "batchRotateImages",
        "summary": "Batch rotate images",
        "description": "Normalize orientation and apply one rotation or flip setting to multiple images. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "angle": {
                    "type": "integer",
                    "enum": [
                      0,
                      90,
                      180,
                      270
                    ],
                    "default": 90
                  },
                  "flip": {
                    "type": "boolean",
                    "default": false
                  },
                  "flop": {
                    "type": "boolean",
                    "default": false
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "webp",
                      "png",
                      "jpeg"
                    ],
                    "default": "webp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing successful image outputs and manifest.json with ordered per-file results.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-image-metadata": {
      "post": {
        "operationId": "batchReadImageMetadata",
        "summary": "Batch read image metadata",
        "description": "Read a safe technical metadata allowlist for multiple images and return results in upload order. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch result. Invalid files are reported individually without removing successful results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "operation",
                    "status",
                    "summary",
                    "results"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "partial",
                        "failed"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "required": [
                        "total",
                        "succeeded",
                        "failed",
                        "originalBytes"
                      ],
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "succeeded": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "originalBytes": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "index",
                          "inputFilename",
                          "status",
                          "originalSize"
                        ],
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "inputFilename": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "succeeded",
                              "failed"
                            ]
                          },
                          "originalSize": {
                            "type": "integer"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-color-palette": {
      "post": {
        "operationId": "batchExtractColorPalettes",
        "summary": "Batch extract color palettes",
        "description": "Extract representative HEX colors and approximate proportions independently from multiple images. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 3,
                    "maximum": 8,
                    "default": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch result. Invalid files are reported individually without removing successful results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "operation",
                    "status",
                    "summary",
                    "results"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "partial",
                        "failed"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "required": [
                        "total",
                        "succeeded",
                        "failed",
                        "originalBytes"
                      ],
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "succeeded": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "originalBytes": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "index",
                          "inputFilename",
                          "status",
                          "originalSize"
                        ],
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "inputFilename": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "succeeded",
                              "failed"
                            ]
                          },
                          "originalSize": {
                            "type": "integer"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-image-hash": {
      "post": {
        "operationId": "batchCalculateImageHashes",
        "summary": "Batch calculate image hashes",
        "description": "Calculate a SHA-256 checksum for each accepted image and return ordered per-file results. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch result. Invalid files are reported individually without removing successful results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "operation",
                    "status",
                    "summary",
                    "results"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "partial",
                        "failed"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "required": [
                        "total",
                        "succeeded",
                        "failed",
                        "originalBytes"
                      ],
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "succeeded": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "originalBytes": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "index",
                          "inputFilename",
                          "status",
                          "originalSize"
                        ],
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "inputFilename": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "succeeded",
                              "failed"
                            ]
                          },
                          "originalSize": {
                            "type": "integer"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Ungültige Anfrageparameter.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Fehlender oder ungültiger API-Key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Ratenlimit überschritten.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request",
                  "auth_error",
                  "rate_limit",
                  "insufficient_quota",
                  "content_policy",
                  "timeout",
                  "network_error",
                  "service_error",
                  "billable_error",
                  "unknown"
                ]
              },
              "message": {
                "type": "string"
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "code": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "type",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "nano-banana"
          },
          "object": {
            "type": "string",
            "example": "model"
          },
          "type": {
            "type": "string",
            "example": "image"
          },
          "owned_by": {
            "type": "string",
            "example": "APIAny.AI"
          },
          "display_name": {
            "type": "string",
            "example": "Nano Banana"
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "pricing": {
            "type": "object",
            "additionalProperties": true
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "display_name",
          "status"
        ]
      },
      "CreditBalanceResponse": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "number",
            "example": 206353
          },
          "currency": {
            "type": "string",
            "example": "credits"
          }
        },
        "required": [
          "credits",
          "currency"
        ]
      },
      "ChatCompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "gpt-5.4"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling-Temperatur."
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Kumulierte Wahrscheinlichkeitsmasse für Nucleus-Sampling."
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "Maximale Anzahl an Token in der Antwort."
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Bis zu 4 Stoppsequenzen."
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "description": "Anzahl der zu generierenden Antwortvarianten."
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "seed": {
            "type": "integer",
            "description": "Möglichst reproduzierbarer Sampling-Seed."
          },
          "response_format": {
            "type": "object",
            "description": "Erzwingt eine JSON-Objekt- oder JSON-Schema-Ausgabe, z. B. { \"type\": \"json_object\" }.",
            "additionalProperties": true
          },
          "tools": {
            "type": "array",
            "description": "Tool-/Funktionsdeklarationen, die das Modell aufrufen kann.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "tool_choice": {
            "description": "Tool-Auswahl: 'auto' | 'none' | 'required' | { type: 'function', function: { name } }.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "logprobs": {
            "type": "boolean"
          },
          "top_logprobs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          },
          "logit_bias": {
            "type": "object",
            "additionalProperties": true
          },
          "user": {
            "type": "string",
            "description": "Endnutzerkennung zur Risikoüberwachung."
          },
          "stream": {
            "type": "boolean",
            "description": "Bei true werden Inkremente über SSE gestreamt (OpenAI chat.completion.chunk), abgeschlossen durch 'data: [DONE]'."
          }
        },
        "required": [
          "model",
          "messages"
        ]
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ]
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ]
      },
      "ResponsesRequest": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string",
            "example": "gpt-5.5"
          },
          "input": {
            "description": "Responses-Eingabe. Kann eine Zeichenkette oder ein Array aus message-/tool-result-Items sein.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "instructions": {
            "type": "string",
            "description": "System- oder Entwickleranweisungen."
          },
          "max_output_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "Maximale Anzahl an Ausgabe-Token."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "reasoning": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "effort": {
                "type": "string",
                "enum": [
                  "none",
                  "minimal",
                  "low",
                  "medium",
                  "high",
                  "xhigh"
                ],
                "description": "reasoning-Stärke für unterstützte Modelle."
              },
              "summary": {
                "type": "string",
                "enum": [
                  "auto",
                  "concise",
                  "detailed"
                ]
              }
            }
          },
          "text": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "verbosity": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high"
                ]
              },
              "format": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "tools": {
            "type": "array",
            "description": "Responses tools, einschließlich function tools und integrierter Tools wie web_search_preview.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "description": "Bei true werden OpenAI-Responses-SSE-Ereignisse zurückgegeben."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "model",
          "input"
        ]
      },
      "ResponsesResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "response"
          },
          "created_at": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "output_text": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        },
        "required": [
          "id",
          "object",
          "status",
          "model",
          "output"
        ]
      },
      "AnthropicMessagesRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "minimax-m3"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ]
                },
                "content": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  ]
                }
              },
              "required": [
                "role",
                "content"
              ]
            }
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "Maximale Anzahl zu generierender Token (erforderlich)."
          },
          "system": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ],
            "description": "System-Prompt."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Zufälligkeit (0–1)."
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "top_k": {
            "type": "integer",
            "description": "Nur aus den K wahrscheinlichsten Kandidaten samplen."
          },
          "stop_sequences": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Benutzerdefinierte Stoppsequenzen."
          },
          "tools": {
            "type": "array",
            "description": "Tools, die das Modell aufrufen kann; jedes enthält name, description und input_schema (JSON Schema).",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "tool_choice": {
            "type": "object",
            "additionalProperties": true,
            "description": "Tool-Auswahl: { type: 'auto' } | { type: 'any' } | { type: 'tool', name }."
          },
          "stream": {
            "type": "boolean",
            "description": "Bei true wird als Anthropic-SSE-Ereignisstrom zurückgegeben (message_start / content_block_delta / message_delta / message_stop)."
          }
        },
        "required": [
          "model",
          "messages",
          "max_tokens"
        ]
      },
      "AnthropicMessagesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "message"
          },
          "role": {
            "type": "string",
            "example": "assistant"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        },
        "required": [
          "id",
          "type",
          "role",
          "content",
          "model"
        ]
      },
      "GeminiGenerateContentRequest": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "parts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              },
              "required": [
                "parts"
              ]
            }
          },
          "generationConfig": {
            "type": "object",
            "description": "Generierungskonfiguration. Außerdem: Rufe :streamGenerateContent (statt :generateContent) auf, um einen Gemini-SSE-Stream zu erhalten.",
            "properties": {
              "temperature": {
                "type": "number",
                "minimum": 0,
                "maximum": 2
              },
              "topP": {
                "type": "number"
              },
              "topK": {
                "type": "integer"
              },
              "maxOutputTokens": {
                "type": "integer"
              },
              "stopSequences": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "responseMimeType": {
                "type": "string",
                "description": "z. B. 'application/json' für strukturierte Ausgabe."
              },
              "responseSchema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON Schema für strukturierte Ausgabe (zusammen mit responseMimeType application/json)."
              },
              "responseModalities": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Bei Angabe von 'IMAGE' werden Bildgenerierungsergebnisse zurückgegeben."
              }
            },
            "additionalProperties": true
          },
          "tools": {
            "type": "array",
            "description": "Tool-Deklarationen mit functionDeclarations, die das Modell aufrufen kann.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "systemInstruction": {
            "type": "object",
            "additionalProperties": true,
            "description": "Systemanweisung als Gemini-Content-Objekt ({ parts: [{ text }] })."
          }
        },
        "required": [
          "contents"
        ]
      },
      "GeminiGenerateContentResponse": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usageMetadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "candidates"
        ]
      },
      "ImageGenerationRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/GPTImage2GenerationRequest"
          },
          {
            "$ref": "#/components/schemas/GenericImageGenerationRequest"
          }
        ]
      },
      "GPTImage2GenerationRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "const": "gpt-image-2"
          },
          "prompt": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "description": "Native WIDTHxHEIGHT dimensions or auto. GPT-Image 2 also accepts ratio shorthand with the deprecated resolution compatibility tier.",
            "examples": [
              "auto",
              "1024x1024",
              "2048x1152"
            ]
          },
          "quality": {
            "type": "string",
            "description": "GPT-Image 2 rendering quality.",
            "enum": [
              "auto",
              "low",
              "medium",
              "high"
            ],
            "default": "auto"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "description": "Number of images to generate. Billing scales with the image count.",
            "default": 1
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Compatibility ratio shorthand such as 1:1, 4:3, or 16:9. Prefer native size dimensions.",
            "deprecated": true
          },
          "resolution": {
            "type": "string",
            "description": "Compatibility conversion tier used with ratio shorthand.",
            "enum": [
              "1K",
              "2K",
              "4K"
            ],
            "deprecated": true
          },
          "input_images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "model",
          "prompt"
        ]
      },
      "GenericImageGenerationRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "not": {
              "const": "gpt-image-2"
            },
            "example": "nano-banana"
          },
          "prompt": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "description": "Model-specific image size or aspect ratio shorthand.",
            "example": "1k"
          },
          "input_images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "model",
          "prompt"
        ]
      },
      "ImageEditRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "nano-banana"
          },
          "prompt": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "binary"
          },
          "mask": {
            "type": "string",
            "format": "binary"
          },
          "size": {
            "type": "string",
            "example": "1k"
          }
        },
        "required": [
          "model",
          "prompt",
          "image"
        ]
      },
      "VideoGenerationRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "seedance-2.0"
          },
          "prompt": {
            "type": "string"
          },
          "duration": {
            "type": "string",
            "example": "10s"
          },
          "resolution": {
            "type": "string",
            "example": "720p"
          },
          "ratio": {
            "type": "string",
            "example": "16:9"
          },
          "input_images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "input_videos": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "input_audio": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "model",
          "prompt"
        ]
      },
      "AsyncTaskCreateResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "example": "task_123"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing"
            ]
          },
          "model": {
            "type": "string"
          },
          "poll_url": {
            "type": "string",
            "example": "/v1/tasks/task_123"
          }
        },
        "required": [
          "task_id",
          "status",
          "poll_url"
        ]
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "example": "task_123"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed",
              "expired"
            ]
          },
          "model": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "result": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/MediaResult"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ErrorResponse/properties/error"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "task_id",
          "status"
        ]
      },
      "MediaResult": {
        "description": "Ergebnis einer abgeschlossenen Aufgabe. Bildaufgaben verwenden das OpenAI-Bildformat (Bildadresse unter data[0].url); Video- und Audioaufgaben stellen video_url/audio_url sowie ein urls[]-Array bereit.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ImageTaskResult"
          },
          {
            "$ref": "#/components/schemas/MediaUrlResult"
          }
        ]
      },
      "ImageTaskResult": {
        "type": "object",
        "description": "Ergebnis einer Bildaufgabe (OpenAI-Bildformat); die Bildadresse befindet sich unter data[0].url.",
        "properties": {
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "b64_json": {
                  "type": "string"
                },
                "revised_prompt": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "MediaUrlResult": {
        "type": "object",
        "description": "Ergebnis einer Video- oder Audioaufgabe. Die Hauptadresse ist video_url oder audio_url; alle Ausgaben sind zugleich in urls[] aufgeführt.",
        "properties": {
          "status": {
            "type": "string"
          },
          "video_url": {
            "type": "string",
            "format": "uri"
          },
          "audio_url": {
            "type": "string",
            "format": "uri"
          },
          "output_url": {
            "type": "string",
            "format": "uri"
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "OpenAIImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "b64_json": {
                  "type": "string"
                },
                "revised_prompt": {
                  "type": "string"
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        },
        "required": [
          "created",
          "data"
        ]
      },
      "TokenUsage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "cached_input_tokens": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "ModerationRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "nsfw-image-detection"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "Image URL to classify."
          },
          "input": {
            "type": "object",
            "properties": {
              "image": {
                "type": "string",
                "format": "uri",
                "description": "Alternative nested image URL."
              }
            }
          }
        },
        "required": [
          "model"
        ],
        "anyOf": [
          {
            "required": [
              "image_url"
            ]
          },
          {
            "required": [
              "input"
            ]
          }
        ]
      },
      "ModerationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "moderation"
          },
          "model": {
            "type": "string",
            "example": "nsfw-image-detection"
          },
          "created": {
            "type": [
              "string",
              "integer",
              "null"
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "flagged": {
                  "type": "boolean"
                },
                "label": {
                  "type": "string",
                  "example": "normal"
                },
                "score": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 1
                }
              },
              "required": [
                "flagged",
                "label"
              ]
            }
          }
        },
        "required": [
          "object",
          "model",
          "results"
        ]
      },
      "IpGeoResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "ip_geo"
          },
          "request_id": {
            "type": "string",
            "example": "req_123"
          },
          "data": {
            "type": "object",
            "properties": {
              "ip": {
                "type": "string",
                "example": "8.8.8.8"
              },
              "country": {
                "type": "string",
                "example": "US"
              },
              "region": {
                "type": "string",
                "example": "California"
              },
              "city": {
                "type": "string",
                "example": "Mountain View"
              },
              "source": {
                "type": "string",
                "example": "maxmind-city"
              }
            },
            "required": [
              "ip",
              "country",
              "region",
              "city",
              "source"
            ]
          }
        },
        "required": [
          "object",
          "request_id",
          "data"
        ]
      }
    }
  }
}
