{
  "openapi": "3.1.0",
  "info": {
    "title": "APIAny.AI 公开 API",
    "version": "1.0.0",
    "description": "APIAny.AI 模型聚合、异步媒体任务、对话生成、积分查询和任务查询的公开 API。"
  },
  "servers": [
    {
      "url": "https://apiany.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Models",
      "description": "公开模型目录。"
    },
    {
      "name": "Chat",
      "description": "文本生成和对话兼容接口。"
    },
    {
      "name": "Images",
      "description": "图片生成和图片编辑接口。"
    },
    {
      "name": "Videos",
      "description": "视频生成接口。"
    },
    {
      "name": "Moderation",
      "description": "Image safety and moderation endpoints."
    },
    {
      "name": "Tasks",
      "description": "异步任务查询。"
    },
    {
      "name": "Account",
      "description": "账户与积分查询。"
    },
    {
      "name": "Free APIs",
      "description": "Free utility APIs protected by API key rate limits."
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "获取公开模型列表",
        "description": "返回当前 API Key 可见的 APIAny.AI 公开模型目录。",
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "模型列表。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/credits/balance": {
      "get": {
        "operationId": "getCreditBalance",
        "summary": "查询积分余额",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "积分余额。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "返回当前 API Key 所属账户的可用积分余额。"
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "创建对话补全",
        "description": "OpenAI 兼容的 Chat Completions 接口。当前以非 streaming 调用为主。",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "model": "gpt-5.4",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Write a concise product tagline for APIAny.AI."
                      }
                    ],
                    "temperature": 0.7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI 兼容的对话补全响应。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "创建 Responses 响应",
        "description": "兼容 OpenAI Responses 的接口。支持 Responses 原生 input、reasoning 控制、web search 等内置工具，以及 stream=true 时的官方 Responses SSE。",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              },
              "examples": {
                "reasoning": {
                  "value": {
                    "model": "gpt-5.5",
                    "input": "审核这个 API 设计并列出主要风险。",
                    "reasoning": {
                      "effort": "high",
                      "summary": "auto"
                    },
                    "text": {
                      "verbosity": "medium"
                    }
                  }
                },
                "webSearch": {
                  "value": {
                    "model": "gpt-5.5",
                    "input": "OpenAI Responses API 文档最近有什么变化？",
                    "tools": [
                      {
                        "type": "web_search_preview"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI-compatible Responses response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "stream=true 时返回 Responses SSE 事件流。"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "createMessage",
        "summary": "创建 Messages 响应",
        "description": "Anthropic 兼容的 Messages 接口。",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              },
              "examples": {
                "basic": {
                  "value": {
                    "model": "minimax-m3",
                    "max_tokens": 512,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Draft three API documentation section titles."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Anthropic 兼容的 Messages 响应。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessagesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "operationId": "generateGeminiContent",
        "summary": "生成 Gemini 兼容内容",
        "description": "Gemini 兼容的 generateContent 接口。路径中的 model 是 APIAny.AI 公开模型 ID。",
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "gemini-3.5-flash"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiGenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gemini 兼容响应。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiGenerateContentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "operationId": "createImageGeneration",
        "summary": "创建图片生成任务",
        "description": "创建异步图片生成任务，并返回 task_id。",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              },
              "examples": {
                "textToImage": {
                  "value": {
                    "model": "nano-banana",
                    "prompt": "A clean product hero image for an AI API gateway",
                    "size": "1k"
                  }
                },
                "gptImage2NativeSize": {
                  "value": {
                    "model": "gpt-image-2",
                    "prompt": "A cinematic landscape product launch visual",
                    "size": "2048x1152",
                    "quality": "high",
                    "n": 1
                  }
                },
                "withReferences": {
                  "value": {
                    "model": "nano-banana-pro",
                    "prompt": "Create a premium ecommerce hero image using these references",
                    "size": "2k",
                    "input_images": [
                      "https://example.com/reference-1.png",
                      "https://example.com/reference-2.png"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "任务已创建。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/images/generations/sync": {
      "post": {
        "operationId": "createImageGenerationSync",
        "summary": "创建图片生成并等待结果",
        "description": "创建图片任务，并在配置的最大等待时间内等待任务完成。",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI 兼容图片生成结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageResponse"
                }
              }
            }
          },
          "202": {
            "description": "达到最大等待时间后任务仍在处理中。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "operationId": "createImageEdit",
        "summary": "创建图片编辑",
        "description": "OpenAI 风格图片编辑接口，适用于支持参考图的模型。",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI 兼容图片结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/images/upload": {
      "post": {
        "operationId": "uploadImageAsset",
        "summary": "上传图片素材",
        "description": "上传图片素材，用作图片或视频生成的参考输入。",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "上传后的素材 URL。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "url"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/generations": {
      "post": {
        "operationId": "createVideoGeneration",
        "summary": "创建视频生成任务",
        "description": "创建异步视频生成任务，并返回 task_id。",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              },
              "examples": {
                "seedance": {
                  "value": {
                    "model": "seedance-2.0",
                    "prompt": "A cinematic launch shot for an AI API platform",
                    "duration": "10s",
                    "resolution": "720p",
                    "ratio": "16:9"
                  }
                },
                "withReferences": {
                  "value": {
                    "model": "veo3.1",
                    "prompt": "Animate a product scene between the start and end frames",
                    "input_images": [
                      "https://example.com/start.png",
                      "https://example.com/end.png"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "任务已创建。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/videos/generations/sync": {
      "post": {
        "operationId": "createVideoGenerationSync",
        "summary": "创建视频生成并等待结果",
        "description": "创建视频任务，并在配置的最大等待时间内等待任务完成。",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已完成的视频任务。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "202": {
            "description": "达到最大等待时间后任务仍在处理中。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/tasks/{task_id}": {
      "get": {
        "operationId": "getTask",
        "summary": "查询任务详情",
        "description": "返回异步图片、视频或后续音频任务的当前状态和最终结果。",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "task_123"
          }
        ],
        "responses": {
          "200": {
            "description": "任务详情。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "任务不存在。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/moderations": {
      "post": {
        "operationId": "createModeration",
        "summary": "Create image moderation result",
        "description": "Classifies an image with a public moderation model and returns a normalized safety result.",
        "tags": [
          "Moderation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModerationRequest"
              },
              "examples": {
                "imageUrl": {
                  "value": {
                    "model": "nsfw-image-detection",
                    "image_url": "https://example.com/image.png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moderation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/free/ip-geo": {
      "get": {
        "operationId": "lookupIpGeo",
        "summary": "Lookup IP geolocation",
        "description": "Returns country, region, and city for an IP address when GeoIP data is available.",
        "tags": [
          "Free APIs"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "8.8.8.8",
            "description": "IP address to look up. If omitted, the caller IP is used when proxy headers are available."
          }
        ],
        "responses": {
          "200": {
            "description": "IP geolocation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpGeoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Free API rate limit exceeded."
          }
        }
      }
    },
    "/api/free/batch-convert-images": {
      "post": {
        "operationId": "batchConvertImages",
        "summary": "Batch convert images",
        "description": "Convert multiple images to one selected format and receive successful outputs in a ZIP archive with a manifest. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "webp",
                      "png",
                      "jpeg",
                      "avif"
                    ],
                    "default": "webp"
                  },
                  "quality": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 82
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing successful image outputs and manifest.json with ordered per-file results.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-resize-images": {
      "post": {
        "operationId": "batchResizeImages",
        "summary": "Batch resize images",
        "description": "Apply one dimension, fit mode, output format, and quality setting to multiple images. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files",
                  "width"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "width": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 8192,
                    "default": 1200
                  },
                  "height": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 8192
                  },
                  "fit": {
                    "type": "string",
                    "enum": [
                      "cover",
                      "contain",
                      "fill",
                      "inside",
                      "outside"
                    ],
                    "default": "inside"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "webp",
                      "png",
                      "jpeg"
                    ],
                    "default": "webp"
                  },
                  "quality": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 82
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing successful image outputs and manifest.json with ordered per-file results.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-crop-images": {
      "post": {
        "operationId": "batchCropImages",
        "summary": "Batch crop images",
        "description": "Crop the same coordinate-based rectangle from multiple images with independent boundary validation. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files",
                  "left",
                  "top",
                  "width",
                  "height"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "left": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0
                  },
                  "top": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0
                  },
                  "width": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 8192,
                    "default": 500
                  },
                  "height": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 8192,
                    "default": 500
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "webp",
                      "png",
                      "jpeg"
                    ],
                    "default": "webp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing successful image outputs and manifest.json with ordered per-file results.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-rotate-images": {
      "post": {
        "operationId": "batchRotateImages",
        "summary": "Batch rotate images",
        "description": "Normalize orientation and apply one rotation or flip setting to multiple images. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "angle": {
                    "type": "integer",
                    "enum": [
                      0,
                      90,
                      180,
                      270
                    ],
                    "default": 90
                  },
                  "flip": {
                    "type": "boolean",
                    "default": false
                  },
                  "flop": {
                    "type": "boolean",
                    "default": false
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "webp",
                      "png",
                      "jpeg"
                    ],
                    "default": "webp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP archive containing successful image outputs and manifest.json with ordered per-file results.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-image-metadata": {
      "post": {
        "operationId": "batchReadImageMetadata",
        "summary": "Batch read image metadata",
        "description": "Read a safe technical metadata allowlist for multiple images and return results in upload order. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch result. Invalid files are reported individually without removing successful results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "operation",
                    "status",
                    "summary",
                    "results"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "partial",
                        "failed"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "required": [
                        "total",
                        "succeeded",
                        "failed",
                        "originalBytes"
                      ],
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "succeeded": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "originalBytes": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "index",
                          "inputFilename",
                          "status",
                          "originalSize"
                        ],
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "inputFilename": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "succeeded",
                              "failed"
                            ]
                          },
                          "originalSize": {
                            "type": "integer"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-color-palette": {
      "post": {
        "operationId": "batchExtractColorPalettes",
        "summary": "Batch extract color palettes",
        "description": "Extract representative HEX colors and approximate proportions independently from multiple images. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 3,
                    "maximum": 8,
                    "default": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch result. Invalid files are reported individually without removing successful results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "operation",
                    "status",
                    "summary",
                    "results"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "partial",
                        "failed"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "required": [
                        "total",
                        "succeeded",
                        "failed",
                        "originalBytes"
                      ],
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "succeeded": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "originalBytes": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "index",
                          "inputFilename",
                          "status",
                          "originalSize"
                        ],
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "inputFilename": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "succeeded",
                              "failed"
                            ]
                          },
                          "originalSize": {
                            "type": "integer"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/free/batch-image-hash": {
      "post": {
        "operationId": "batchCalculateImageHashes",
        "summary": "Batch calculate image hashes",
        "description": "Calculate a SHA-256 checksum for each accepted image and return ordered per-file results. This endpoint requires an API key from a paid account. One submitted batch counts as one API request.",
        "tags": [
          "Free APIs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image files. Each file can be up to 30 MB; the combined API request can be up to 100 MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch result. Invalid files are reported individually without removing successful results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "operation",
                    "status",
                    "summary",
                    "results"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "partial",
                        "failed"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "required": [
                        "total",
                        "succeeded",
                        "failed",
                        "originalBytes"
                      ],
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "succeeded": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "originalBytes": {
                          "type": "integer"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "index",
                          "inputFilename",
                          "status",
                          "originalSize"
                        ],
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "inputFilename": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "succeeded",
                              "failed"
                            ]
                          },
                          "originalSize": {
                            "type": "integer"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The API key does not belong to an eligible paid account."
          },
          "413": {
            "description": "File count, single-file size, or combined request size exceeds the documented limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "请求参数无效。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "缺少 API Key 或 API Key 无效。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "请求超过速率限制。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request",
                  "auth_error",
                  "rate_limit",
                  "insufficient_quota",
                  "content_policy",
                  "timeout",
                  "network_error",
                  "service_error",
                  "billable_error",
                  "unknown"
                ]
              },
              "message": {
                "type": "string"
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "code": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "type",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "nano-banana"
          },
          "object": {
            "type": "string",
            "example": "model"
          },
          "type": {
            "type": "string",
            "example": "image"
          },
          "owned_by": {
            "type": "string",
            "example": "APIAny.AI"
          },
          "display_name": {
            "type": "string",
            "example": "Nano Banana"
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "pricing": {
            "type": "object",
            "additionalProperties": true
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "object",
          "type",
          "display_name",
          "status"
        ]
      },
      "CreditBalanceResponse": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "number",
            "example": 206353
          },
          "currency": {
            "type": "string",
            "example": "credits"
          }
        },
        "required": [
          "credits",
          "currency"
        ]
      },
      "ChatCompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "gpt-5.4"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "description": "采样温度。"
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "核采样累计概率。"
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "deprecated": true,
            "description": "max_completion_tokens 的兼容旧别名。APIAny 仅在所选模型路由需要新字段时转换。"
          },
          "max_completion_tokens": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1048576,
            "description": "思考过程与最终答案合计的最大 Token 数。Kimi K3 省略时默认 131072，最高支持 1048576。"
          },
          "reasoning_effort": {
            "type": "string",
            "enum": [
              "max"
            ],
            "description": "Kimi K3 的思考强度。K3 始终思考，目前仅支持 max。"
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "最多 4 个停止序列。"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "description": "生成候选条数。"
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "seed": {
            "type": "integer",
            "description": "尽量可复现的采样种子。"
          },
          "response_format": {
            "type": "object",
            "description": "强制 JSON 对象或 JSON Schema 输出，如 { \"type\": \"json_object\" }。",
            "additionalProperties": true
          },
          "tools": {
            "type": "array",
            "description": "模型可调用的工具/函数声明。",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "tool_choice": {
            "description": "工具选择：'auto' | 'none' | 'required' | { type: 'function', function: { name } }。",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "logprobs": {
            "type": "boolean"
          },
          "top_logprobs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          },
          "logit_bias": {
            "type": "object",
            "additionalProperties": true
          },
          "user": {
            "type": "string",
            "description": "终端用户标识，用于风险审计。"
          },
          "stream": {
            "type": "boolean",
            "description": "为 true 时通过 SSE 流式返回增量（OpenAI chat.completion.chunk），以 'data: [DONE]' 结束。"
          }
        },
        "required": [
          "model",
          "messages"
        ]
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ]
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "reasoning_content": {
            "type": "string",
            "description": "支持思考的模型返回的思考过程。Kimi K3 多轮历史必须保留此字段。"
          },
          "partial": {
            "type": "boolean",
            "default": false,
            "description": "Kimi Partial Mode，仅在最后一条 assistant 前缀消息上设置为 true。"
          },
          "tools": {
            "type": "array",
            "description": "Kimi K3 通过不含 content 的 system message 动态加载的工具声明。",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "required": [
          "role"
        ]
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ]
      },
      "ResponsesRequest": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "model": {
            "type": "string",
            "example": "gpt-5.5"
          },
          "input": {
            "description": "Responses 输入。可以是字符串，也可以是 message / tool-result item 数组。",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "instructions": {
            "type": "string",
            "description": "系统或开发者指令。"
          },
          "max_output_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "最大输出 token 数。"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "reasoning": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "effort": {
                "type": "string",
                "enum": [
                  "none",
                  "minimal",
                  "low",
                  "medium",
                  "high",
                  "xhigh"
                ],
                "description": "支持模型的 reasoning 强度。"
              },
              "summary": {
                "type": "string",
                "enum": [
                  "auto",
                  "concise",
                  "detailed"
                ]
              }
            }
          },
          "text": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "verbosity": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high"
                ]
              },
              "format": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "tools": {
            "type": "array",
            "description": "Responses tools，包含 function tools 和 web_search_preview 等内置工具。",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "description": "为 true 时返回 OpenAI Responses SSE 事件。"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "model",
          "input"
        ]
      },
      "ResponsesResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "response"
          },
          "created_at": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "output_text": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        },
        "required": [
          "id",
          "object",
          "status",
          "model",
          "output"
        ]
      },
      "AnthropicMessagesRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "minimax-m3"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ]
                },
                "content": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  ]
                }
              },
              "required": [
                "role",
                "content"
              ]
            }
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "最大生成 token 数（必填）。"
          },
          "system": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ],
            "description": "系统提示词。"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "随机性（0–1）。"
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "top_k": {
            "type": "integer",
            "description": "仅从概率最高的 K 个候选采样。"
          },
          "stop_sequences": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "自定义停止序列。"
          },
          "tools": {
            "type": "array",
            "description": "模型可调用的工具；每个含 name、description、input_schema(JSON Schema)。",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "tool_choice": {
            "type": "object",
            "additionalProperties": true,
            "description": "工具选择：{ type: 'auto' } | { type: 'any' } | { type: 'tool', name }。"
          },
          "stream": {
            "type": "boolean",
            "description": "为 true 时按 Anthropic SSE 事件流返回（message_start / content_block_delta / message_delta / message_stop）。"
          }
        },
        "required": [
          "model",
          "messages",
          "max_tokens"
        ]
      },
      "AnthropicMessagesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "message"
          },
          "role": {
            "type": "string",
            "example": "assistant"
          },
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        },
        "required": [
          "id",
          "type",
          "role",
          "content",
          "model"
        ]
      },
      "GeminiGenerateContentRequest": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "parts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              },
              "required": [
                "parts"
              ]
            }
          },
          "generationConfig": {
            "type": "object",
            "description": "生成配置。另外：调用 :streamGenerateContent（而非 :generateContent）可获得 Gemini SSE 流。",
            "properties": {
              "temperature": {
                "type": "number",
                "minimum": 0,
                "maximum": 2
              },
              "topP": {
                "type": "number"
              },
              "topK": {
                "type": "integer"
              },
              "maxOutputTokens": {
                "type": "integer"
              },
              "stopSequences": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "responseMimeType": {
                "type": "string",
                "description": "如 'application/json' 用于结构化输出。"
              },
              "responseSchema": {
                "type": "object",
                "additionalProperties": true,
                "description": "结构化输出的 JSON Schema（配合 responseMimeType application/json）。"
              },
              "responseModalities": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "含 'IMAGE' 时返回图片生成结果。"
              }
            },
            "additionalProperties": true
          },
          "tools": {
            "type": "array",
            "description": "含 functionDeclarations 的工具声明。",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "systemInstruction": {
            "type": "object",
            "additionalProperties": true,
            "description": "系统指令，Gemini Content 对象（{ parts: [{ text }] }）。"
          }
        },
        "required": [
          "contents"
        ]
      },
      "GeminiGenerateContentResponse": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usageMetadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "candidates"
        ]
      },
      "ImageGenerationRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/GPTImage2GenerationRequest"
          },
          {
            "$ref": "#/components/schemas/GenericImageGenerationRequest"
          }
        ]
      },
      "GPTImage2GenerationRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "const": "gpt-image-2"
          },
          "prompt": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "description": "Accepts auto, a positive WIDTHxHEIGHT target, or ratio shorthand such as 16:9. Every non-auto target is mapped to the nearest official popular size: 1024x1024, 1536x1024, 1024x1536, 2048x2048, 2048x1152, 3840x2160, or 2160x3840.",
            "examples": [
              "auto",
              "1024x1024",
              "1280x720",
              "16:9"
            ]
          },
          "quality": {
            "type": "string",
            "description": "GPT-Image 2 rendering quality.",
            "enum": [
              "auto",
              "low",
              "medium",
              "high"
            ],
            "default": "auto"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "description": "Number of images to generate. Billing scales with the image count.",
            "default": 1
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Deprecated ratio shorthand. The ratio and compatibility tier are mapped to the nearest official popular size.",
            "deprecated": true
          },
          "resolution": {
            "type": "string",
            "description": "Deprecated compatibility tier used to form the target size before nearest-official-size mapping.",
            "enum": [
              "1K",
              "2K",
              "4K"
            ],
            "deprecated": true
          },
          "input_images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "model",
          "prompt"
        ]
      },
      "GenericImageGenerationRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "not": {
              "const": "gpt-image-2"
            },
            "example": "nano-banana"
          },
          "prompt": {
            "type": "string"
          },
          "size": {
            "type": "string",
            "description": "Model-specific image size or aspect ratio shorthand.",
            "example": "1k"
          },
          "input_images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "model",
          "prompt"
        ]
      },
      "ImageEditRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "nano-banana"
          },
          "prompt": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "binary"
          },
          "mask": {
            "type": "string",
            "format": "binary"
          },
          "size": {
            "type": "string",
            "example": "1k"
          }
        },
        "required": [
          "model",
          "prompt",
          "image"
        ]
      },
      "VideoGenerationRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "seedance-2.0",
            "examples": [
              "wan3.0-prime-text-to-video",
              "wan3.0-prime-image-to-video",
              "wan3.0-prime-reference-video"
            ]
          },
          "prompt": {
            "type": "string"
          },
          "duration": {
            "type": [
              "integer",
              "string"
            ],
            "example": 5,
            "description": "Output duration. Wan 3.0 Prime requires an integer from 2 to 30 seconds."
          },
          "resolution": {
            "type": "string",
            "example": "720p",
            "description": "Resolution or quality alias."
          },
          "quality": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "Wan 3.0 Prime output quality."
          },
          "ratio": {
            "type": "string",
            "example": "16:9"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "adaptive",
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4"
            ],
            "description": "Wan 3.0 Prime output aspect ratio."
          },
          "generate_audio": {
            "type": "boolean",
            "default": true,
            "description": "Request synchronized audio when the selected model supports it."
          },
          "image_start": {
            "type": "string",
            "format": "uri",
            "description": "Required first frame for wan3.0-prime-image-to-video."
          },
          "image_end": {
            "type": "string",
            "format": "uri",
            "description": "Optional final frame for wan3.0-prime-image-to-video."
          },
          "image_urls": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Ordered image references for wan3.0-prime-reference-video."
          },
          "video_urls": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Ordered video references for wan3.0-prime-reference-video."
          },
          "audio_urls": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Ordered audio references for wan3.0-prime-reference-video."
          },
          "model_params": {
            "type": "object",
            "description": "Optional Wan 3.0 Prime reference context. file_url and link_url are mutually exclusive.",
            "properties": {
              "file_url": {
                "type": "string",
                "format": "uri",
                "description": "One reference document URL."
              },
              "link_url": {
                "type": "string",
                "format": "uri",
                "description": "One reference web page URL."
              }
            }
          },
          "input_images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "input_videos": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "input_audio": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "model",
          "prompt"
        ]
      },
      "AsyncTaskCreateResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "example": "task_123"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing"
            ]
          },
          "model": {
            "type": "string"
          },
          "poll_url": {
            "type": "string",
            "example": "/v1/tasks/task_123"
          }
        },
        "required": [
          "task_id",
          "status",
          "poll_url"
        ]
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "example": "task_123"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed",
              "expired"
            ]
          },
          "model": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "result": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/MediaResult"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ErrorResponse/properties/error"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "task_id",
          "status"
        ]
      },
      "MediaResult": {
        "description": "已完成任务的结果。图片任务采用 OpenAI 图片格式（图片地址在 data[0].url）；视频与音频任务提供 video_url/audio_url 以及 urls[] 数组。",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ImageTaskResult"
          },
          {
            "$ref": "#/components/schemas/MediaUrlResult"
          }
        ]
      },
      "ImageTaskResult": {
        "type": "object",
        "description": "图片任务结果（OpenAI 图片格式），图片地址在 data[0].url。",
        "properties": {
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "b64_json": {
                  "type": "string"
                },
                "revised_prompt": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "MediaUrlResult": {
        "type": "object",
        "description": "视频或音频任务结果。主地址为 video_url 或 audio_url；全部产物同时列在 urls[]。",
        "properties": {
          "status": {
            "type": "string"
          },
          "video_url": {
            "type": "string",
            "format": "uri"
          },
          "audio_url": {
            "type": "string",
            "format": "uri"
          },
          "output_url": {
            "type": "string",
            "format": "uri"
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "OpenAIImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "b64_json": {
                  "type": "string"
                },
                "revised_prompt": {
                  "type": "string"
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/TokenUsage"
          }
        },
        "required": [
          "created",
          "data"
        ]
      },
      "TokenUsage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "cached_input_tokens": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "ModerationRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "nsfw-image-detection"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "Image URL to classify."
          },
          "input": {
            "type": "object",
            "properties": {
              "image": {
                "type": "string",
                "format": "uri",
                "description": "Alternative nested image URL."
              }
            }
          }
        },
        "required": [
          "model"
        ],
        "anyOf": [
          {
            "required": [
              "image_url"
            ]
          },
          {
            "required": [
              "input"
            ]
          }
        ]
      },
      "ModerationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "moderation"
          },
          "model": {
            "type": "string",
            "example": "nsfw-image-detection"
          },
          "created": {
            "type": [
              "string",
              "integer",
              "null"
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "flagged": {
                  "type": "boolean"
                },
                "label": {
                  "type": "string",
                  "example": "normal"
                },
                "score": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 1
                }
              },
              "required": [
                "flagged",
                "label"
              ]
            }
          }
        },
        "required": [
          "object",
          "model",
          "results"
        ]
      },
      "IpGeoResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "ip_geo"
          },
          "request_id": {
            "type": "string",
            "example": "req_123"
          },
          "data": {
            "type": "object",
            "properties": {
              "ip": {
                "type": "string",
                "example": "8.8.8.8"
              },
              "country": {
                "type": "string",
                "example": "US"
              },
              "region": {
                "type": "string",
                "example": "California"
              },
              "city": {
                "type": "string",
                "example": "Mountain View"
              },
              "source": {
                "type": "string",
                "example": "maxmind-city"
              }
            },
            "required": [
              "ip",
              "country",
              "region",
              "city",
              "source"
            ]
          }
        },
        "required": [
          "object",
          "request_id",
          "data"
        ]
      }
    }
  }
}
